.drink-display {
    margin-top: 30px;
}

.drink-display h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 10px;
}

.drinks-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}